* {
    margin: 0;
    padding: 0;
  }
  
  .table {
    display: flex;
    background-image: linear-gradient(
      60deg,
      lightseagreen 20%,
      lightgreen,
      lightyellow
    );
  
    margin: 10px;
    border: 1.5px solid black;
    justify-content: center;
    align-items: center;
  }
  
  caption {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(215, 18, 57);
  }
  
  th,
  td {
    padding: 5px;
  }
  
  body {
    background-color: lightsalmon;
  }
  @media (max-width: 400px) {
    td {
      display: block;
    }
    th {
      display: none;
    }
    td::before {
      content: attr(id) ": ";
      text-transform: capitalize;
      color: rgb(23, 18, 58);
      font-weight: bold;
    }
  
    tr:nth-of-type(2n) {
      background-image: linear-gradient(180deg, lightyellow, lightgreen);
    }
    caption {
      background-color: lightpink;
      color: black;
    }
  }
  